

/* Intro */

#intro {
    width: 100vw;
    margin: 0 auto 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #090913;
}

#intro img {
    width: 100%;
    max-height: 100%;
}

#intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro p, #intro a {
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    font-family: var(--righteous);
}

#intro a {
    text-decoration: none;
    display: block;
}

#intro a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
    #intro {
        grid-template-columns: 1fr;
        margin: 0 auto 5rem;
        background-color: transparent;
    }
}

@media screen and (max-width: 1400px) {
    #intro p, #intro a {
        font-size: 1.4rem;
    }
}

/* End Intro */

h1 {
    color: var(--text-color);
    font-family: var(--josefinsans);
    width: fit-content;
    font-size: 2.5rem;
    margin: 0 auto 3rem;
}

/* About Us */

#about-us-grid {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 2rem;
    width: 50rem;
    margin: auto;
}

#about-us-grid article {
    position: relative;
    border-radius: 1rem;
    background-color: var(--nav-background);
    overflow: hidden ;
}

#about-us-grid h2 {
    text-align: center;
    font-family: var(--righteous);
    width: fit-content;
    margin: 1rem auto;
}

#about-us-grid article > div {
    width: 100%;
    height: 100%;
    outline: 1px solid #ffffff;
    position: relative;
    padding-top: .1rem;
}

#about-us-grid article > div, article > div::before {
    border-radius: 0px 0px 1rem 1rem;
}

#about-us-grid article > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 31, 0.8);
    z-index: 1;
}

#about-us-grid article > div::before, 
#about-us-grid article p {
    opacity: 1;
    transition: opacity 500ms;
}

#about-us-grid article > div:hover::before,
#about-us-grid article > div:hover p {
    opacity: 0;
    transition: opacity 500ms;
}

#about-us-grid #article1 > div {
    background: url(../assets/page-images/pimg4.webp) no-repeat;
    background-size: cover;
}

#about-us-grid #article2 > div{
    background: url(../assets/page-images/pimg1.webp) no-repeat;
    background-size: cover;
}

#about-us-grid #article3 > div{
    background: url(../assets/page-images/pimg2.webp) no-repeat;
    background-size: cover;
}

#about-us-grid #article4 > div {
    background: url(../assets/page-images/pimg3.webp) no-repeat;
    background-size: cover;
}

#about-us-grid article p {
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: var(--josefinsans);
}

#about-us-grid article {
    outline: 1px solid #ffffff;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    #about-us-grid {
        grid-template-rows: repeat(2, 25rem);
        gap: 1rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    #about-us-grid {
        width: 60rem;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    #about-us-grid {
        width: 95rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem
    }
}

@media screen and (min-width: 1800px) and (max-width: 2000px) {
    #about-us-grid {
        width: 105rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 2000px) {
    #about-us-grid {
        width: 120rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

/* End About Us */

/* Mobile About Us */

#mobile-about-us-grid {
    color: var(--text-color);
    display: grid;
    /* gap: 8rem; */
    grid-template-columns: 1fr;
    width: 100vw;
}

#mobile-about-us-grid article {
    display: grid;
    text-align: center;
    background-color: #090913;
    /* outline: 1px solid white ; */
    padding: 0 2rem;
}

#mobile-about-us-grid article:nth-child(odd) {
    grid-template-areas: 
    "img h2"
    "img p";
}

#mobile-about-us-grid article:nth-child(even) {
    grid-template-areas: 
    "h2 img"
    "p img";
}

#mobile-about-us-grid article:nth-child(odd) > h2 {
    grid-area: h2;
}

#mobile-about-us-grid article:nth-child(odd) > p {
    grid-area: p;
}

#mobile-about-us-grid article:nth-child(odd) > div {
    grid-area: img;
    border-radius: 1rem;
}

#mobile-about-us-grid article:nth-child(even) > h2 {
    grid-area: h2;
}

#mobile-about-us-grid article:nth-child(even) > p {
    grid-area: p;
}

#mobile-about-us-grid article:nth-child(even) > div {
    grid-area: img;
    border-radius: 100%;
}

#mobile-about-us-grid div {
    width: 15rem;
    aspect-ratio: 1 / 1;
}

#mobile-article1 div {
    background: url(../assets/page-images/pimg4.webp) no-repeat;
    background-size: cover;
}

#mobile-article2 div {
    background: url(../assets/page-images/pimg1.webp) no-repeat;
    background-size: cover;
}

#mobile-article3 div {
    background: url(../assets/page-images/pimg2.webp) no-repeat;
    background-size: cover;
}

#mobile-article4 div {
    background: url(../assets/page-images/pimg3.webp) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    #mobile-about-us-grid p {
        width: 15rem;
        margin: auto;
    }
}

/* End Mobile About Us */
