:root {
    --text-color: rgb(233, 228, 228);
    --html-background: linear-gradient(to bottom left, #081218, #000000 95%);
    --nav-background: #0d181f;
    --deep-purple: #090913;
    
    --josefinsans: 'Josefin Sans', sans-serif;
    --righteous: 'Righteous', sans-serif;
}

html, body {
    background: var(--html-background) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Scroll Bar */

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: .7rem; 
    background-color: #5a5a5a;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #929292; 
  }

/* End Scroll Bar */

/* NAV */

nav {
    background-color: var(--nav-background);
    min-height: fit-content;
    max-height: 10rem;
    position: fixed;
    width: 100vw;
    inset: 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    z-index: 999;
}

#nav-left {
    color: var(--text-color);
    font-size: 1.8rem;
    width: fit-content;
    text-align: center;
    margin-left: 2rem;
    font-family: var(--josefinsans);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-left a {
    text-decoration: none;
    color: var(--text-color);
}

p.nav-left:hover {cursor: pointer;}

#nav-list {
    list-style-type: none;
    color: var(--text-color);
    display: flex;
    /* gap: 1rem; */
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-inline-start: 0;
    float: right;
    margin-right: 4rem;
    font-size: 1rem;
    font-family: var(--josefinsans);
}

#nav-list > li {
    padding: 1rem;
    margin: 0;
    border-radius: .3rem;
}

/* #nav-list > li:not(#more-container) {
    border-radius: .3rem;
} */

#more-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .3rem;
}

#more-container {
    position: relative;
    width: 6rem;
    /* border-radius: .3rem .3rem 0 0; */
}

#more-arrow-wrapper > p {
    margin: 0;
}

#nav-list > li:hover {
    cursor: pointer;
    background-color: #162b38;
    transition: background-color 250ms;
}

#nav-drop-down > li:hover {
    transform: scale(1.1);
}

nav #down-arrow {
    width: 1rem;
    aspect-ratio: 1 / 1;
}

#nav-drop-down {
    list-style-type: none;
    padding-inline-start: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #162b38;
    /* transform: translateX(-2rem); */
    text-align: center;
    border-radius: 0rem 0rem .3rem .3rem;
    top: 95%;
    left: 0%;
    width: 100%;
}

#nav-drop-down > li:first-child {
    margin-top: 1rem;
}

#nav-drop-down > li:last-child {
    margin-bottom: 1rem;
}

#nav-drop-down > li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.rotate180 {animation: rotate180 300ms forwards;}

.rotateBack {animation: rotateBack 300ms forwards;}

@keyframes rotate180 {
    100% {transform: rotate(180deg);}
}

@keyframes rotateBack {
    0% {transform: translate(180deg);}
    100% {transform: rotate(0deg);}
}

@media screen and (max-width: 500px) {
    #nav-left {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    nav {
        grid-template-columns: 1fr;
    }

    #nav-left {
        justify-self: center;
        margin: 1.5rem 2rem .5rem;
    }

    #nav-list {
        justify-self: center;
        margin: 0;
        margin-bottom: .9rem;
    }
}

/* END NAV */

/* Footer */

footer {
    background-color: var(--nav-background);
}

#footer-info-container {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    max-width: 95%;
    margin: auto;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    font-family: var(--josefinsans);
    font-size: .5;
}

#footer-info-container > img {
    width: 3rem;
    aspect-ratio: 1 / 1;
    margin: auto;
    grid-area: 1 / 2 / span 2 / span 1;
}

#footer-info-container > a {
    display: block;
    justify-self: center;
    align-self: center;
    grid-area: 2 / 1;
    text-decoration: none;
    color: #4696b1;
    font-family: var(--righteous);
}

#footer-info-container > a:hover {
    color: #244c96;
    transition: color 350ms;
}

/* End Footer */
