:root {
    --text-color: rgb(233, 228, 228);
    --html-background: linear-gradient(to bottom left, #081218, #000000 95%);
    --nav-background: #0d181f;
    --deep-purple: #090913;
    --a: #4696b1;
    --a-hover: #244c96;
    --josefinsans: 'Josefin Sans', sans-serif;
    --righteous: 'Righteous', sans-serif;
}

html, body {
    background: var(--html-background) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Scroll Bar */

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: .7rem; 
    background-color: #5a5a5a;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #929292; 
  }

/* End Scroll Bar */


/* This class is used for keeping footer at bottom of page, 
keeping it in flow of document, regardless of y scrolling */
.content-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    /* min-height set dynamically in nav.js */
}

/* NAV */

nav {
    background-color: var(--nav-background);
    min-height: fit-content;
    max-height: 10rem;
    position: fixed;
    width: 100vw;
    inset: 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    z-index: 999;
}

#nav-left {
    color: var(--text-color);
    font-size: 1.8rem;
    width: fit-content;
    text-align: center;
    margin-left: 2rem;
    font-family: var(--josefinsans);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-left a {
    text-decoration: none;
    color: var(--text-color);
}

p.nav-left:hover {cursor: pointer;}

#nav-list {
    list-style-type: none;
    color: var(--text-color);
    display: flex;
    /* gap: 1rem; */
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-inline-start: 0;
    float: right;
    margin-right: 4rem;
    font-size: 1rem;
    font-family: var(--josefinsans);
}


#nav-list > li {
    padding: 1rem;
    margin: 0;
    border-radius: .3rem;
}

#nav-list a {
    text-decoration: none;
    color: var(--text-color);
}

#more-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .3rem;
}

#more-container {
    position: relative;
    width: 6rem;
    /* border-radius: .3rem .3rem 0 0; */
}

#more-arrow-wrapper > p {
    margin: 0;
}

#nav-list > li:hover {
    cursor: pointer;
    background-color: #162b38;
    transition: background-color 250ms;
}

#nav-drop-down > li:hover {
    transform: scale(1.1);
}

nav #down-arrow {
    width: 1rem;
    aspect-ratio: 1 / 1;
}

#nav-drop-down {
    list-style-type: none;
    padding-inline-start: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #162b38;
    /* transform: translateX(-2rem); */
    text-align: center;
    border-radius: 0rem 0rem .3rem .3rem;
    top: 95%;
    left: 0%;
    width: 100%;
}

#nav-drop-down > li:first-child {
    margin-top: 1rem;
}

#nav-drop-down > li:last-child {
    margin-bottom: 1rem;
}

#nav-drop-down > li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.rotate180 {animation: rotate180 300ms forwards;}

.rotateBack {animation: rotateBack 300ms forwards;}

@keyframes rotate180 {
    100% {transform: rotate(180deg);}
}

@keyframes rotateBack {
    0% {transform: translate(180deg);}
    100% {transform: rotate(0deg);}
}

@media screen and (max-width: 500px) {
    #nav-left {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    nav {
        grid-template-columns: 1fr;
    }

    #nav-left {
        justify-self: center;
        margin: 1.5rem 2rem .5rem;
    }

    #nav-list {
        justify-self: center;
        margin: 0;
        margin-bottom: .9rem;
    }
}

/* END NAV */

/* Form */

/* Form Container*/

#form-container {
    color: var(--text-color);
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    gap: 1rem;
}

/* form {
    align-self: center;
} */

fieldset {
    color: var(--text-color);
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

fieldset > legend {
    font-size: 2rem;
}

fieldset > input, fieldset > textarea {
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
}

form textarea {
    resize: vertical;
}

#submit {
    font-size: 1.8rem;
    background-color: var(--deep-purple);
    color: var(--text-color);
    border: none;
    padding: .5rem 0;
    width: calc(100% - 1em);
    border-radius: .5rem;
    outline: 1px solid #ffffff;
    font-family: var(--righteous);
    display: block;
    margin: auto;
}

#submit:hover {
    cursor: pointer;
    background-color: #0e0e1d;
    transition: background-color 500ms;
}

#info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

#hours-h4 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: fit-content;
    gap: .5rem;
}

.clicked {
    transform: rotate(180deg);
    transition: transform 500ms;
}

#hours-h4:hover {
    cursor: pointer;
}

article:last-child > h4 {
    width: fit-content;
}

#form-container article > p, #form-container article > address {
    font-size: 1.5rem;
}

#form-container a {
    margin-top: .5rem;
    display: block;
    font-size: 1.5rem;
    color: var(--text-color);
}

article #down-arrow {
    width: 1rem;
    aspect-ratio: 1 / 1;
    align-self: center;
}

#hours-list {
    padding-inline-start: .5rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    font-size: 1.2rem;
    font-family: var(--josefinsans);
    display: none;
}

.fade-in {
    animation: fade-in 300ms forwards;
}

.fade-out {
    animation: fade-out 120ms forwards;
}

#hours-list > li {
    white-space: pre;
    list-style-type: none;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media screen and (max-width: 700px) {
    #form-container h4 {
        font-size: 1.8rem;
    }

    #form-container {
        width: 95vw;
    }

    #info-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #form-container article {
        width: 90vw;
        margin: auto;
    }
}

@media screen and (max-width: 1100px) {
    #form-container {
        grid-template-columns: 1fr;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 1600px) {
    #info-grid > article:last-child {
        grid-area: 2 / 1 / span 1 / span 2;
    }
}

@media screen and (min-width: 1600px) {
    #form-container {
        width: 100rem;
    }
}

/* End Form Container */

#google-maps {
    width: 96vw;
    display: block;
    margin: auto;
    border-radius: .7rem;
}

/* Footer */

footer {
    background-color: var(--nav-background);
    width: 100vw;
}

#footer-info-container {
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 95%;
    margin: auto;
    text-align: center;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--josefinsans);
    font-size: .5;
}

#terms {
    display: block;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--a);
    font-family: var(--righteous);
}

#terms:hover {
    color: var(--a-hover);
    transition: color 350ms;
}

/* End Footer */
